{% extends "baseView.html" %}
{% load i18n %}

{% block content %}
<h1 class="main_title">{% blocktrans %}CAMBIO PASSWORD{% endblocktrans %}</h1>
{% if validlink %}
    <div class="form_div">
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">{% blocktrans %}Nuova password:{% endblocktrans %}</label>
                        {{ form.new_password1 }}
                    </td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">{% blocktrans %}Conferma password:{% endblocktrans %}</label>
                        {{ form.new_password2 }}
                    </td>
                </tr>
            </table>
            <div class="form_btns">
                <input type="submit" class="submit_btn" value="Login">
                <input type="reset" class="reset_btn" value="Reset">
            </div>
            <br><br>
        </form>
    </div>
{% else %}
    <h1>{% blocktrans %}Cambio password fallito{% endblocktrans %}</h1>
    <p>{% blocktrans %}Il link per il cambio della password è già stato usato{% endblocktrans %}</p>
    <a href="{% url 'password_reset_form' %}?next={{ request.path }}">{% blocktrans %}Richiedine uno nuovo{% endblocktrans %}</a>
{% endif %}
{% endblock content %}
